<?xml version="1.0" encoding="utf-8"?>
<launch>
  <node name="player" pkg="rosbag" type="play" output="screen" args="--clock -r 1 /vol/vssp/robotlab/challenge4_data/carpark.bag"/>


  <include file="$(find avp_challenge)/launch/urdf.launch">
  </include>

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find avp_challenge)/rviz/car.rviz" />

  
</launch>
