<launch>
    <!--Setup Baxter transforms and cameras-->
    <node pkg="tf" type="static_transform_publisher" name="base_to_world" args="0 0 0.930000 0 0 0 world base 100" />
    <node pkg="baxter_challenge" type="send_urdf_fragment.py" name="correct_grippers_l" args="-f $(find baxter_challenge)/urdf/left_end_effector.urdf.xacro -l left_hand -j left_gripper_base"/>
    <node pkg="baxter_challenge" type="send_urdf_fragment.py" name="correct_grippers_r" args="-f $(find baxter_challenge)/urdf/right_end_effector.urdf.xacro -l right_hand -j right_gripper_base"/>
    <node pkg="baxter_tools" type="camera_control.py" args="-c right_hand_camera" name="close_hand_camera"/>
    <node pkg="baxter_tools" type="camera_control.py" args="-o head_camera -r 1280x800" name="open_head_camera"/>

    <!--Untuck arms-->
    <node pkg="baxter_tools" type="tuck_arms.py" args="-u" name="untuck"/>

    <!--Start JTAS and moveit-->
    <param name="/jtas/stopped_velocity_tolerance" type="double" value="1.0"/>
    <node pkg="baxter_interface" type="joint_trajectory_action_server.py" name="jtas"/>
    <node pkg="topic_tools" type="relay" args="/robot/joint_states /joint_states" name="joint_state_relay"/>
    <include file="$(find baxter_moveit_config)/launch/baxter_grippers.launch"/>

</launch>
